html{
  font-size: 18px;
  font-family: Helvetica;
}

header{
  color: white;
}

.container{
  width: 960px;
  height: auto;
  overflow: hidden;
}

.brandlogo{
  display:flex;
  background-color: black;
  width: 100%;
  align-items: center;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
}

.brandlogo img{
  padding-left: 0.5rem;
  height: 1.5rem;
}

.brandlogo span{
  padding-left: 1rem;
  font-size: 1rem;
}

.newarrival{
  display: flex;
  background-image:url(../images/moto.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25rem;
}

.categories{
  display: flex;
  background-color: firebrick;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  justify-content: space-around;
}
